{% extends 'Tasks/profile.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Tasks/goals.css' %}">
<div class="goals-wrapper">
    <div class="total">
        <div class="total__text">
            <h1 class="total__header">Total Goals Achieved</h1>
            <p>1/3</p>
        </div>
        <div class="total__image">
            <img src="{% static 'Tasks/images/In progress-pana  1.svg' %}">
        </div>
    </div>
    <div class="mygoals">
        <div class="mygoals__header">
            <h1>My goals</h1>
            <button id="mygoals__header__button">ADD</button>


        </div>
        <div class="mygoals__list">
            <ul class="goals-list">
                {% for i in goals %}
                <!-- <a href="{% url 'updateGoal' i.id %}">tak</a>
                {{ i.text }} -->

                {% if i.complete %}
                <li>
                     <a href="{% url 'updateGoal' i.id %}">
                        <span class="checkbox">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                focusable="false">
                                <path fill="none" stroke="#FF725E" stroke-width="3"
                                    d="M1.73 12.91l6.37 6.37L22.79 4.59" />
                        </span>
                        </svg>
                        </a>
                        {{ i.text }}
                </li>

                {% else %}
                <li><a href="{% url 'updateGoal' i.id %}">
                        <span class="checkbox"></span></a>
                    {{ i.text }}</li>

                {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="bg-modal">
    <form class="goals-add" method="POST">
        <button class="goals-add__button">X</button>

        {% csrf_token %}
        {{form.text}}
        <input class="mybtn" type="submit" value="Add new goal">


    </form>
</div>
<script src="{% static 'Tasks/goals.js' %}"></script>
{% endblock %}

{% block active %}
<script>
    const page = document.querySelector("#goals");
    page.classList.add("active")
</script>

{% endblock %}