{% extends 'Tasks/profile.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Tasks/goals.css' %}">
<div class="goals-wrapper">
    <div class="total">
        <div class="total__text">
            <h1 class="total__header">Total Goals Achieved</h1>
            <p>1/3</p>
        </div>
        <div class="total__image">
            <img src="{% static 'Tasks/images/In progress-pana  1.svg' %}">
        </div>
    </div>
    <div class="mygoals">
        <div class="mygoals__header">
            <h1>My goals</h1>
            <button id="mygoals__header__button">ADD</button>
            {% for i in goals %}
            {{ i.text }}
            {% endfor %}
        </div>
        <div class="mygoals__list">
            
        </div>
    </div>
</div>

<div class="bg-modal">
    <form class="goals-add" method="POST">
        <button class="goals-add__button">X</button>

            {% csrf_token %}
            {{form.text}}
            <input class="mybtn" type="submit" value="CREATE">


    </form>
</div>
<script src="{% static 'Tasks/goals.js' %}"></script>
{% endblock %}

{% block active %}
<script>
    const page = document.querySelector("#goals");
    page.classList.add("active")
</script>

{% endblock %}