{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Tasks/register.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="register">

    <div class="context">
        <a href="{% url 'main' %}"><img class="logo" src="{% static 'Tasks/images/Shared goals-amico.svg' %}"></a>
        <div class="wrapper">
            <h1>Login</h1>
            <form class="register__form" method="POST" action="">
                {% csrf_token %}
                <label>
                    <h4 class="input__title">Email<span>*</span></h4>
                    <input name="username">
                </label>
                <label>
                    <h4 class="input__title">Password<span>*</span></h4>
                    <input name="password">
                </label>
                <button class="register__button">Log In</button>
            </form>
            {% for message in messages %}
            <p id='messages'>{{message}}</p>
            {% endfor %}
            <p class="information">Not registered yet? <a href="{% url 'register' %}">Create an Account</a></p>
           
        </div>
    </div>

    <div class="image">
        <h1 class="image__header">Achieve your<br><span>GOALS</span> </h1>
        <img class="image__img" src="{% static 'Tasks/images/Winners-pana.svg' %}">
    </div>

</div>