{% extends 'Tasks/profile.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Tasks/tasks.css' %}">
<div class="tasks">
    <div class="tasks__day">
        <button class="tasks__button tasks__button-left">
            <img src="{% static 'Tasks/images/arrowleft.svg' %}"></button>
                <div class="tasks__day-wrapper"> 
                    <h1 class="tasks__header">Today</h1>
                    <h4 class="tasks__date">November 06 2021</h4>
                </div>
                <button class="tasks__button tasks__button-right"><img src="{% static 'Tasks/images/arrowright.svg' %}"></button>
    </div>
    <div class="tasks__list">
        <button class="tasks__add">Add new task</button>
        <h4>1 unfinished task</h4>
        <ul class="all-tasks">
            {% for i in tasks %}
                <li>{{i.text}} <p>{{ i.date }}</p></li>
                
            {% endfor %}
        </ul>
    </div>
</div>

<div class="bg-modal">
    <form class="goals-add" method="POST">
        <button class="goals-add__button">X</button>
        {% csrf_token %}
        {{form.text}}
        {{form.date}}
        <input class="mybtn" type="submit" value="Add new task">
    </form>
</div>

<script src="{% static 'Tasks/tasks.js' %}"
{% endblock %}


{% block active %}
<script>
    const page = document.querySelector("#tasks");
    page.classList.add("active")
</script>

{% endblock %}