*{
    box-sizing: border-box;
}

.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tasks__day{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

.tasks__button{
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.tasks__day-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasks__header{
    margin-bottom: 0;
}

